<p id="notice"><%= notice %></p>

<h1>Playgrounds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playgrounds.each do |playground| %>
      <tr>
        <td><%= playground.name %></td>
        <td><%= image_tag (playground.image.url) %></td>
        <td><%= link_to 'Show', playground %></td>
        <td><%= link_to 'Edit', edit_playground_path(playground) %></td>
        <td><%= link_to 'Destroy', playground, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playground', new_playground_path %>
