<h1> komento toukouM</h1>
<%= form_with(model: [:park,comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.collection_select :category_id, Category.all, :id, :name, :prompt => "投稿のカテゴリを選択してください" %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= image_tag(comment.image.url) if comment.image && comment.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>