<div class="container">



  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="posts_area">
    <p><%= @comment.user.nickname %></p>
    <p><%= @comment.content %></p>
    <!-- 投稿されたコメント一覧をparkの詳細ページに表示するためのrender -->
    <%= render partial: 'posts/index', locals: { posts: @posts, comment: @comment } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'posts/form', locals: { post: @post, comment: @comment, park: @park } %>

    <%= link_to '戻る', park_path(@park.id) %>
  </div>