<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @comment.image.url if @comment.image.present?%>
</p>

<p>コメント一覧</p>

  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="posts_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'posts/index', locals: { posts: @posts, comment: @comment } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'posts/form', locals: { post: @post, comment: @comment } %>

</div>