<p id="notice"><%= notice %></p>

  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(park_id: @park.id), method: :post, class: 'btn btn-primary' %>
  <% end %>

<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>introduction:</strong>
  <%= @park.introduction %>
</p>

<p>
  <strong>Address:</strong>
  <%= @park.address %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @park.prefecture %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @park.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @park.longitude %>
</p>

<p>
  <strong>Main image:</strong>
  <%= image_tag @park.main_image.url %>
</p>
  <strong> 施設</strong>
  <% @park.institutions.each do |linstitution| %>
    <td><%= institution.name %></td>
    <td><%= image_tag institution.image.url%>|</td>
  <% end %>
  <strong> 遊具</strong>
  <% @park.playgrounds.each do |playground| %>
    <td><%= playground.name %></td>
    <td><%= image_tag playground.image.url%>|</td>
  <% end %>

<% @park.comments.each do |comment|%>
  <p><%=comment.user.nickname%>
    <% comment.comment_categories.each do |comment_categories|%>
      <p><%= comment_categories.name %></p>
    <% end %>
  <p><%= comment.content%></p>
  <%= image_tag comment.image.url if comment.image.present?%>
  <%= link_to 'この口コミにコメントする', park_comment_path(comment) %>
  <%= link_to '編集', edit_park_comment_path(comment) %>
  <%= link_to '消去', park_comment_path(comment), method: :delete, remote: true, data: { confirm: "本当に削除しますか?"} %></p>
<% end %>

<%= link_to '口コミを投稿！', new_park_comment_path(@park) %>


<%= link_to 'Back', parks_path %>
