<p id="notice"><%= notice %></p>

  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(park_id: @park.id), method: :post, class: 'btn btn-primary' %>
  <% end %>

<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @park.Introduction %>
</p>

<p>
  <strong>Address:</strong>
  <%= @park.address %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @park.prefecture %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @park.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @park.longitude %>
</p>

<p>
  <strong>Main image:</strong>
  <%= @park.main_image %>
</p>

<p>
  <strong>Sub image1:</strong>
  <%= @park.sub_image1 %>
</p>

<p>
  <strong>Sub image2:</strong>
  <%= @park.sub_image2 %>
</p>

<p>
  <strong>Sub image3:</strong>
  <%= @park.sub_image3 %>
</p>

<p>
  <strong>Sub image4:</strong>
  <%= @park.sub_image4 %>
</p>

<p>
  <strong>Sub image5:</strong>
  <%= @park.sub_image5 %>
</p>

<p>
  <strong>Sub image6:</strong>
  <%= @park.sub_image6 %>
</p>

<p>
  <strong>Sub image7:</strong>
  <%= @park.sub_image7 %>
</p>

<p>
  <strong>Sub image8:</strong>
  <%= @park.sub_image8 %>
</p>

<p>
  <strong>Sub image9:</strong>
  <%= @park.sub_image9 %>
</p>

<p>
  <strong>Sub image10:</strong>
  <%= @park.sub_image10 %>
</p>

<p>
  <strong>Sub image11:</strong>
  <%= @park.sub_image11 %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
