<p id="notice"><%= notice %></p>
<% if logged_in? %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(park_id: @park.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>introduction:</strong>
  <%= @park.introduction %>
</p>

<p>
  <strong>Address:</strong>
  <%= @park.address %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @park.prefecture %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @park.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @park.longitude %>
</p>

<p>
  <strong>Main image:</strong>
  <%= image_tag @park.main_image.url %>
</p>
  <strong> 施設</strong>
  <% @park.institutions.each do |institution| %>
    <td><%= institution.name %></td>
    <td><%= image_tag institution.image.url%>|</td>
  <% end %>
  <strong> 遊具</strong>
  <% @park.playgrounds.each do |playground| %>
    <td><%= playground.name %></td>
    <td><%= image_tag playground.image.url%>|</td>
  <% end %>

<% @park.comments.each do |comment|%>
  <p><%=comment.user.nickname%>
    <p><%= comment.category.name %></p>
    <p><%= comment.content%></p>
  <%= image_tag comment.image.url if comment.image.present?%>
<% if logged_in? %>
  <%= link_to 'この口コミにコメントする', park_comment_path(@park, comment) %>
  <%= link_to '編集', edit_park_comment_path(comment) %>
  <%= link_to '消去', park_comment_path(comment), method: :delete, remote: true, data: { confirm: "本当に削除しますか?"} %></p>
<% else%>
  <%= link_to 'ログインしてこの口コミにコメントする', new_session_path %>
<% end %>

<% if logged_in? %>
<%= link_to '口コミを投稿！', new_park_comment_path(@park) %>
<% else%>
  <%= link_to 'ログインして口コミを投稿する！', new_session_path %>
<% end %>
<% end %>

<%= link_to 'Back', parks_path %>