<h1>comoのトップページです</h1>




<h1> 遊具から公園を検索！ </h1>

<%= search_form_for @parks_search, url: search_parks_path do |f| %>
  <% Institution.all.each do |institution| %>
    <%= f.check_box :institutions_id_eq_any, { multiple: true, checked: institution[:checked], disabled: institution[:disabled], include_hidden: false }, institution[:id] %>
    <label><%= institution.name %></label>
    <% end %>
  <% Playground.all.each do |playground|%>
    <%= f.check_box :playgrounds_id_eq_any, { multiple: true, checked: playground[:checked], disabled: playground[:disabled], include_hidden: false }, playground[:id] %>
    <label><%= playground.name %></label>
  <% end %>
  <%= f.submit "検索" %>
<% end %>

