<h1>comoのトップページです</h1>


元気な子供たち。いろいろな公園に子供を連れて行きたい。

さて、何持ってこう？？
何か面白いことやってないかな？？

遊びに行く時、気になる情報をひとまとめにしました。
コミュニティに参加して情報を交換したり、気軽にゆるく集まって公園で遊びましょう！

公園をもっと楽しみたい！　という気持ちからCOMOができました


How to Use
1. top page下から公園を検索
2. 検索結果から気になる公園をクリック
3. 公園ページで口コミを見てみよう
4. ログインしたらできること
   ・コミュニティに参加できるよ
   ・マイページができるよ
   ・お気に入りの公園を登録できるよ



<h2> 遊具から公園を検索！ </h2>

<%= search_form_for @parks_search, url: search_parks_path do |f| %>
  <h4>施設</h4>
  <%= f.label :institution_playground, "公園にあってほしい物をクリックして検索してね" %>
  <% Institution.all.each do |institution| %>
    <%= f.check_box :institutions_id_eq_any, { multiple: true, checked: institution[:checked], disabled: institution[:disabled], include_hidden: false }, institution[:id] %>
    <label><%= institution.name %></label>
    <% end %>
  <h4>遊具</h4>
  <% Playground.all.each do |playground|%>
    <%= f.check_box :playgrounds_id_eq_any, { multiple: true, checked: playground[:checked], disabled: playground[:disabled], include_hidden: false }, playground[:id] %>
    <label><%= playground.name %></label>
  <% end %>
  <p><%= f.submit "検索" %></P>
<% end %>

<h2> 住所・名前から公園を検索！ </h2>
<%= search_form_for @parks_search, url: search_parks_path do |f| %>
  <%= f.label :name_or_address_cont, "公園名・住所のキーワードを入力して検索してね" %>
  <%= f.search_field :name_or_address_cont %>

  <%= f.submit "検索" %>
<% end %>
