<h1>comoのトップページです</h1>


<p>元気な子供たち。いろいろな公園に子供を連れて行きたい。</p>
<br>
<p>さて、何持ってこう？？</p>
<p>何か面白いことやってないかな？？</p>
<br>
<p>遊びに行く時、気になる情報をひとまとめにしました。</p>
<p>コミュニティに参加して情報を交換したり、気軽にゆるく集まって公園で遊びましょう！</p>
<br>
<p>公園をもっと楽しみたい！　という気持ちからCOMOができました</p>

<br>
<p>How to Use</p>
<p>1. top page下から公園を検索</p>
<p>2. 検索結果から気になる公園をクリック</p>
<p>3. 公園ページで口コミを見てみよう</p>
<p>4. ログインしたらできること</p>
   <p>・コミュニティに参加できるよ</p>
   <p>・マイページができるよ</p>
   <p>・お気に入りの公園を登録できるよ</p>


<br>
<h2> 遊具から公園を検索！ </h2>

<%= search_form_for @parks_search, url: search_parks_path do |f| %>
<p><%= f.label :institution_playground, "公園にあってほしい物をクリックして検索してね" %></p>
  <h4>施設</h4>
  <% Institution.all.each do |institution| %>
    <%= f.check_box :institutions_id_eq_any, { multiple: true, checked: institution[:checked], disabled: institution[:disabled], include_hidden: false }, institution[:id] %>
    <label><%= institution.name %></label>
    <% end %>
  <h4>遊具</h4>
  <% Playground.all.each do |playground|%>
    <%= f.check_box :playgrounds_id_eq_any, { multiple: true, checked: playground[:checked], disabled: playground[:disabled], include_hidden: false }, playground[:id] %>
    <label><%= playground.name %></label>
  <% end %>
  <p><%= f.submit "検索", class: "search_btn" %></P>
<% end %>

<h2> 住所・名前から公園を検索！ </h2>
<%= search_form_for @parks_search, url: search_parks_path do |f| %>
  <%= f.label :name_or_address_cont, "公園名・住所のキーワードを入力して検索してね" %>
  <%= f.search_field :name_or_address_cont %>

  <%= f.submit "検索", class: "search_last_btn" %>
<% end %>
