<h1><%= @user.nickname %>のページ</h1>

<p>ユーザーアイコン</p>
	<% if @user.image.present? %>
		<%= image_tag @user.image.url %>
	<% else %>
		<%= image_tag 'default.png' %>
	<% end %>

<p>メールアドレス: <%= @user.email %></p>
<%= link_to_if(true, 'plofile_Edit', edit_user_path(@user)) %>

<h1><%= @user.nickname %>のページ</h1>
 <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.category.name %></td>
        <td><%= comment.content %></td>
        <td><%= image_tag comment.image %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<p>お気に入りの公園</p>
	<% if @favorite_list.present? %>
    <% @favorite_list.each do |park| %>
			<%= park.name %>
    <% end %>
  <% end %>
