<h1><%= @user.nickname %>のページ</h1>

			<p>ユーザーアイコン</p>
			<% if @user.image.present? %>
				<%= image_tag @user.image.url %>
			<% else %>
				<%= image_tag 'default.png' %>
			<% end %>

			<p>メールアドレス: <%= @user.email %></p>


			<%= link_to_if(true, 'plofile_Edit', edit_user_path(@user)) %>
