<p id="notice"><%= notice %></p>
<div class="container">
	<div class="users-show">
		<h1><%= @user.nickname %>のページ</h1>
			<tr class="users-show-edit">
				<td class="users-show-edit">ユーザーアイコン</td>
				<% if @user.image.present? %>
					<%= image_tag @user.image.url %>
				<% else %>
					<%= image_tag 'default.png' %>
				<% end %>

        <td class="users-show-edit">>メールアドレス: <%= @user.email %></td>
          <% if logged_in? %>
            <% if current_user == @user %>
							<p><%= link_to_if(@user, 'plofile_Edit', edit_user_path(@user)) %></p>
						<% end %>
					<% end %>
						<td class="users-show-edit">お気に入りの公園</td>
						<% if @favorite_list.present? %>
							<% @favorite_list.each do |park| %>
								<p><%= park.name %>:
								<%= link_to "この公園ページへ行く", park_path(park) %></p>
							<% end %>
						<% end %>
					</div>
				</div>