<%= form_with(model: [comment, post]) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_area :content, id: "post_content_#{comment.id}" %>
    <%= form.label :content %>
  </div>
    <%= form.text_area :image, id: "post_content_#{comment.id}" %>
    <%= form.label :image %>
    <%= image_tag(post.image.url) if post.image && post.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>